<%= lato_page_head 'Documentation' %>

<h2>How to use the gem</h2>

<p>
After installing the gem, you can use the settings via the function <code>LatoSettings.get('key', 'default value')</code>.
</p>

<pre>
class ApplicationController < Lato::ApplicationController
  # ...

  def index
    @api_key = LatoSettings.get('api_key')
    @page_title = LatoSettings.get('page_title', 'Default title')
  end
end
</pre>

<h2>Create initial settings</h2>

<p>
Initial settings can be created using Rails seeds.
</p>

<pre>
LatoSettings::Setting.create!(
  key: 'site_name',
  value: "Lato Settings Example",
  label: "Site name",
  description: "The name of the site",
  required: true
)
</pre>

<div class="alert alert-info mt-3">
  <h4 class="alert-heading">Notes</h4>
  <p>
  The <code>required</code> field is optional and can be used to indicate that the setting must exist in the project and cannot be deleted by users.
  </p>
</div>