<%= lato_page_head 'Documentation' %>

<h2>Come utilizzare la gemma</h2>

<p>
Dopo l''installazione della gemma è possibile utilizzare le impostazioni attraverso la funzione <code>LatoSettings::Setting.get('key', 'default value')</code>.
</p>

<pre>
class ApplicationController < Lato::ApplicationController
  # ...

  def index
    @api_key = LatoSettings::Setting.get('api_key')
    @page_title = LatoSettings::Setting.get('page_title', 'Titolo di default')
  end
end
</pre>