<%= lato_page_head 'Documentation' %>

<h2>Come utilizzare la gemma</h2>

<p>
Dopo l''installazione della gemma è possibile utilizzare le impostazioni attraverso la funzione <code>LatoSettings.get('key', 'default value')</code>.
</p>

<pre>
class ApplicationController < Lato::ApplicationController
  # ...

  def index
    @api_key = LatoSettings.get('api_key')
    @page_title = LatoSettings.get('page_title', 'Titolo di default')
  end
end
</pre>

<h2>Creare le impostazioni iniziali</h2>

<p>
Le impostazioni iniziali possono essere create utilizzando i seed di Rails.
</p>

<pre>
LatoSettings::Setting.create!(
  key: 'site_name',
  value: "Lato Settings Example",
  label: "Site name",
  description: "The name of the site",
  required: true
)
</pre>

<div class="alert alert-info mt-3">
  <h4 class="alert-heading">Note</h4>
  <p>
  Il campo <code>required</code> è opzionale e può essere utilizzato per indicare che l'impostazione deve obbligatoriamente esistere nel progetto e non può essere eliminata dagli utenti.
  </p>
</div>